.destruction {
    vertical-align: middle;
    font-size: 0.8em;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
.inline-input {
	height: 24px;
	width: 50px;
}